/* Reset and basic styles */
body {
    background-color: #f8f8f2;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 40px;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, li, button, .subtitle, .about {
    -webkit-font-smoothing: none !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smooth: never !important;
    text-shadow: none !important; /* Prevents any fake smoothing */
}

h1 {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: scale(4);
    display: block;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 6px;
    margin-top: 20px;
    margin-bottom: 40px;
    transform: scale(4);
    display: block;
}

.main-gif {
    max-width: 300px;
    display: block;
    margin: 40px auto;
    border: 4px solid #333;
}

.about {
    background: #e8e8e2;
    padding: 20px;
    border: 2px solid #333;
    display: inline-block;
    text-align: left;
    margin: 40px auto;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.buttons {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background: none;
    border: 2px solid #333;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 6px;
    transform: scale(2.5);
    display: inline-block;
}

button:hover {
    background: #333;
    color: #fff;
}



.vertical-text {
    position: absolute;
    writing-mode: vertical-rl; /* Makes text vertical */
    text-orientation: upright;
    font-size: 2rem;
    color: black;
    white-space: nowrap;
    animation: scrollUp 180s linear infinite;
}

.left {
    left: 5%;
    top: 0;
}

.right {
    right: 5%;
    top: 0;
}

@keyframes scrollUp {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

.horizontal-text {
    position: absolute;
    font-size: 1.5rem;
    color: black;
    white-space: nowrap;
    animation: shootAcross 12s linear infinite;
}

@keyframes shootAcross {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(80vw, 30vh);
    }
    50% {
        transform: translate(50vw, 70vh);
    }
    75% {
        transform: translate(20vw, 40vh);
    }
    100% {
        transform: translate(100vw, 100vh);
        opacity: 0;
    }
}