body {
    background-color: rgb(19, 18, 18);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
   
    overflow: auto
}

@font-face {
    font-family: 'pixel';
    src: url('assets/pixel.ttf') format('truetype');

}

.common-style {
    font-family: 'pixel', sans-serif;
}

h1 {
    text-align: center;
    color: crimson;
    font-size: 24px;
    margin-top: 0; 
    font-family: 'pixel', sans-serif;
}

h2 {
    border: 2px solid pink;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'pixel', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    margin-top: 0; 
    
}

h3 {
    border: 0;
    border: green;
    margin-top: 0; /* Add this to remove default margin */
    font-family: 'pixel', sans-serif;
}
p {
    border: 0;
    color: crimson;
    text-align: center;
    margin-top: 0; /* Add this to remove default margin */
    font-family: 'pixel', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0; /* Add this to remove default margin */
    font-family: 'pixel', sans-serif;
}

li {
    color: rgb(233, 207, 174);
    font-size: large;
    font-family: 'pixel', sans-serif;
}

button {
    background-color: rgb(252, 180, 192);
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'pixel', sans-serif;
    margin-top: 0; /* Add this to remove default margin */
}

button:hover {
    background-color: rgb(255, 136, 156);
    
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}
